@charset "utf-8";
header {
	padding: 3.87vw 4.53vw;
	color: #000000;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

header .title_box {
	display: flex;
}

header .title_box span {
	display: block;
	width: 9.3vw;
	height: 5.67vw;
	font-size: 4.5vw;
	text-align: center;
	line-height: 5.67vw;
	border-right: 0.4vw solid #666;
	font-weight: bolder;
}

header .title {
	width: 71.73vw;
	line-height: 5.67vw;
	font-size: 4.53vw;
	color: #101010;
	margin-left: 2.67vw;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

header .header-more {
	line-height: 5.67vw;
	font-size: 5.2vw;
	font-weight: bolder;
}